* {
    margin: 0, padding 0;
}

body {
    display: flex;
    max-width: auto;
    background-color: #CCC;
    height: fit-content;
    justify-content: center;
}


/* hello there */

main {
    max-width: 800px;
    background-color: white;
    padding: 20px;
    height: fit-content;
}

h1 {
    font-family: 'Seaweed Script', cursive;
}

.top-paragraph {
    width: 45%;
    margin-right: 5%;
    float: left;
}

.parent-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Nanum Brush Script', cursive;
}

.image1 {
    float: left;
    text-align: center;
    width: 45%;
    font-family: 'Nanum Brush Script', cursive;
    font-size: large;
    margin: 0;
    color: #333;
    box-shadow: 0 2px 4px 0 #999;
    transform: rotate(2deg);
}

.image1 img {
    width: 95%;
    height: 95%;
    padding-top: 1%;
}

.bottom-paragraph {
    margin-top: 5%;
    width: 45%;
    float: left;
}

.parent-container-3 {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Nanum Brush Script', cursive;
}

.image2 {
    float: left;
    text-align: center;
    width: 45%;
    margin-right: 5%;
    margin-top: 6%;
    font-family: 'Nanum Brush Script', cursive;
    font-size: large;
    color: #333;
    box-shadow: 0 2px 4px 0 #999;
    transform: rotate(-2deg);
}

.image2 img {
    width: 95%;
    height: 95%;
    padding-top: 1%;
}

.flex-item {
    margin-bottom: 20px;
}